#about-me{
    width: 100%;
    margin-top: 50px;
}

.PictureCard{
    position: relative;
    background-image: url('../assets/GeetanshPic.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 33px;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    width: 98%;
}

.PictureCard::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.199); /* Adjust opacity (0.4 = 40% dark) */
    border-radius: 33px;
    pointer-events: none;
    z-index: 1;
}
.PictureCard > * {
    position: relative;
    z-index: 2; /* Ensure content appears above overlay */
}

.PictureCard p{
    width: 70%;
    font-weight: 600;
}
.PictureCard div{
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.7px);
-webkit-backdrop-filter: blur(7.7px);
border: 1px solid rgba(255, 255, 255, 0.84);
width: 50%;
padding: 20px;
}
.PictureCard > div > p{
width: 100%;
}

.GitHubData{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.GitHubData a{
    color:rgba(255, 255, 255, 0.7) ;
    font-weight: 700;
    font-size: 14px;
}
.GitHubData a:hover{
    color:#fff ;
}
.aboutContent > div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.paras{
    width: 45%;
}
.paras p{
    color: rgba(255, 255, 255, 0.7);
}
.buttonHolder{
    display: flex;
    align-items: center;
}
.gitHubButton{
    background-color:rgb(59, 130, 246) ;
}
.gitHubButton:hover{
    background-color:rgb(37 , 99,235) ;

}
.gitHubButton > i{
    font-size: 25px;
    transition: 0.5s;
}
.gitHubButton:hover > i{
    margin-left: 5px;
}
.gitHubButton > .fa-arrow-right{
    font-size: medium;
}

.contactMeButton{
    background-color: rgb(34, 34, 34);
    padding: 12px;
    margin-left: 20px;
}
.contactMeButton:hover{
    background-color: rgb(58, 58, 58);
}

.contactMeButton > .fa-arrow-right{
      font-size: medium;
}
.contactMeButton > i{
    transition: 0.5s;
}
.contactMeButton:hover > i{
    margin-left: 8px;
}

.flashCard{
    margin-left:10%;
    width: 40%;
    border-style: solid;
    border-color: rgb(48, 48, 48);
    border-radius: 20px;
    padding: 25px;
    border-width: 1.8px;
}
.flashCard button{
    background-color: rgb(34, 34, 34);
    width:150px;
    height: 45px;
    border-radius:9999px;
    border-color: rgb(48, 48, 48);
    border-width: 1.5px;
    border-style: solid;
    color: #fff;
     margin-top: 15px;
     transition: 0.4s;
     cursor: pointer;

}

.flashCard button:hover{
    background-color: #161616;
}
.codefile{
    color: #FD3D03;
    font-size: 28px;
}

.flashCard > div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.smallCard{
    background-color: rgb(34, 34, 34);
    border-style: solid;
    border-color: rgb(48, 48, 48);
    border-radius: 20px;
    padding: 15px;
    border-width: 1.8px;
    margin-top: 30px;
}
.smallMargin{
    margin-left: 20px;
}

.sectionSkills{
    margin-top: 70px;
}
#TechDiv{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#TechDiv >.techTag{
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.centerpara{
    margin-top: 20px;
    text-align: center;
}
